:root {
  --body-bg-color: #121214;
  --text-color: #e1e1e6;
  --title-color: #04d361;
  --form-color: #a8a8a8;
  --bg-button-color: #8257e5;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.main-container {
  display: flex;
  height: 100vh;
}

.container-left {
  padding: 60px;
  background-color: var(--body-bg-color);
  position: relative;
  z-index: 2;
  width: 50%;
}

.img-logo {
  width: 400px;
  margin-bottom: 92px;
}

.info-content {
  display: flex;
  flex-direction: column;
  gap: 8px;
  margin-bottom: 50px;
}

.info-content h2 {
  color: var(--title-color);
  font-family: "Work Sans";
  font-size: 24px;
}

.info-subtitle {
  font-family: "League Spartan";
  font-size: 14px;
  font-weight: bold;
  color: #fff;
}

.info-description {
  font-family: "League Spartan";
  font-size: 14px;
  color: #fff;
}

.form-container {
  margin-bottom: 100px;
  position: relative;
}

.form-container h3 {
  font-family: "League Spartan";
  color: var(--form-color);
  margin-bottom: 16px;
}

.input-wrapper {
  position: relative;
  width: 700px;
}

.input-wrapper input {
  height: 50px;
  padding: 0 60px 0 15px;
  outline: none;
  width: 100%;
  border: none;
  border-left: #04d361 solid 4px;
}

.input-wrapper button {
  position: absolute;
  right: 0;
  top: 0;
  width: 50px;
  height: 50px;
  border: none;
  background-color: var(--bg-button-color);
  cursor: pointer;
}

.read-link-container {
  display: flex;
  gap: 5px;
  align-items: center;
}

.read-link {
  font-family: "League Spartan";
  color: var(--bg-button-color);
  text-decoration: none;
}

.container-right {
  width: 50%;
}

.container-right img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
